.info {
  margin-left: 0;
  width: 100%;
  position: relative;
} 

.info__title {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1em;
  position: absolute;
  right: 0;
  top: -50px;
}

.info__section {
  background: var(--white);
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.05);
  padding: 40px 50px;
  margin-bottom: 40px;
  transition: all 0.3s ease-in-out;
}

.info__wrapper {
  padding-left: 300px;
  position: relative;
}

.info__section:last-child { margin-bottom: 0; }

.info__name {
  width: 100%;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.info__avatar {
  height: 350px;
  overflow: hidden;
  margin-bottom: 45px;
  position: relative;
  min-width: 275px;
  width: 275px;
  margin-right: 50px;
}

.info__line {
  border-bottom: 1px solid #00000010;
  margin: 30px 0;
}

.info__line-tabs {
  margin: 20px 0;
}

.info__section-title {
  margin-bottom: 30px;
}

.info__section-title span {
  opacity: 0.4
}

.info__section-title button {
  height: 16px;
}

.info__item {
  margin-bottom: 30px;
}

.info__item:last-child {
  margin-bottom: 0;
}

.info__label {
  min-width: 150px;
  width: 150px;
  font-weight: 600;
}

.info__value {
  width: 100%;
}

.info__progress, .info__section-image {
  width: 50%;
}
.info__section-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.info__progress-item {
  width: 70%;
  background: var(--white);
  border: 1px solid var(--stroke);
  /* border-radius: 12px; */
  padding: 20px 20px 20px 30px;
  margin-top: 20px;
}

.info__progress-value {
  color: var(--dark-orange);
}

.info__settings-form {
  position: relative;
}

.info__settings-form .form__input {
  margin-bottom: 0;
}

.form__input-group { width: 100%; }

.form__input-group:not(:last-child) { margin-right: 25px; }

.form__input-group .info__settings-input { padding: 0 20px !important; }

.form__input-group .info__settings-textarea {
  resize: none;
  height: 200px;
  padding: 20px;
  border: 1px solid #00000010;
  transition: border 0.3s ease-in-out;
}

.form__block {
  margin-bottom: 30px;
}

.form__block:last-child {
  margin-bottom: 0;
}

.form__input-column {
  margin-bottom: 20px !important;
}

.form__input-column:last-child {
  margin-bottom: 0;
}

.info__avatar-form {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  z-index: 1;
}

.form__avatar, .info__avatar-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid var(--stroke);
  position: absolute;
  background-color: var(--white);
  right: 10px;
  top: 10px;
  background-image: url(../../img/edit-img.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.form__avatar .form__input-img, .info__avatar-img input {
  border: none !important;
  width: 100% !important;
  height: 100% !important;
  opacity: 0;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

.info__avatar-submit { 
  display: none; 
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.info__avatar-submit.show { 
  display: block; 
}

.info__avatar-submit, .info__avatar-submit:hover {
  background-color: var(--green) !important;
  border: var(--green) !important;
}

.form__avatar img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 0
}

.form__block-avatar {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.form__block-avatar .form__avatar-view {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.form__input-group label {
  letter-spacing: 0.01em;
  color: #000;
  opacity: 1;
  margin-bottom: 5px;
  font-size: 13px;
  line-height: 15px;
}

.info__operations-title {
  margin-bottom: 15px;
}

.info__operations-item {
  padding: 15px 0;
  border-bottom: 1px solid #00000010;
}

.info__operations-count {
  width: 15%;
}

.info__operations-name {
  margin-left: 0;
  margin-right: auto;
}

.info__operations-count.red {
  color: #FF543E;
}

.info__operations-count.green {
  color: #37B34A;
}

.info__operations-date {
  width: 15%;
  opacity: 0.4;
  text-align: right;
}

.info__courses-buttons {
  margin-bottom: 30px;
}

.info__courses-buttons a:first-child {
  margin-right: 25px;
}

.info__courses-buttons a:last-child {
  margin-left: 0;
  margin-right: auto;
}

.form__block-course-img {
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 0;
}
.form__block-course-img .course__img {
  transform: translate(15%, 30%);
}
select {
  display: block;
  background-color: var(--white);
  width: 100%;
  border: 1px solid var(--stroke);
  height: 50px;
}

select:focus {
  outline: none;
  border: 1px solid var(--green)
}

.course__direction {
  display: none;
  position: relative;
}

.info__directions .course__direction { display: flex; }

.course__direction.show {
  display: flex;
}

.course__button {
  cursor: pointer;
}

.course__direction-wrapper {
  width: 100%;
}

.course__direction-group input {
  width: 100% !important;
}

.course__direction-group .course__direction-button {
  width: 100px;
  min-width: 100px;
  margin-left: 15px;
  outline: none;
}

.info__directions-title {
  margin-bottom: 10px;
}
.info__directions-row {
  padding: 10px 0;
}

.info__directions-name {
  width: 90%;
}

.info__directions-name span {
  justify-content: flex-start;
}

.info__directions-row {
  border-bottom: 1px solid var(--stroke);
}

.info__directions-row:last-child {
  border-bottom: none;
}

.info__directions-button {
  position: relative;
  width: 24px;
  height: 24px;
}

.info__directions-button input {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
}
.info__direction-update:hover img {
  animation: update 1.5s ease-in-out infinite;
}
@keyframes update {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.info__directions-name .course__direction.hide {
  display: none;
}

.info__directions-name .course__direction {
  margin-top: 7px;
}

.info__directions-group {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 24px;
  height: 24px;
}

.info__directions-group:last-child { margin-left: 10px; }

.info__directions-group input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0
}

.info__directions-group--change {
  background-image: url(../../img/sidebar/src/edit.svg);
}

.info__directions-group--remove {
  background-image: url(../../img/sidebar/src/close-red.svg);
}

.info__users-item {
  padding: 15px 10px;
  background-color: var(--neutral);
  transition: all 0.3s ease-in-out;
}

.info__users-item.full {
  height: 300px;
}

.info__users-item:not(:last-child) { margin-bottom: 10px; }

.info__users-item:hover {
  box-shadow: 0 0 6px var(--neutral);
}

.info__users-name {
  margin-left: 0;
  margin-right: auto;
}

.info__users-role {
  margin-right: 20px;
}

.info__users-button {
  width: 24px;
  height: 24px;
  /* background-image: url(../../img/sidebar/src/settings.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
}

.info__hidden {
  position: absolute;
  min-height: 100vh;
  width: 500px;
  display: none;
  right: -100%;
  top: 0;
  background-color: var(--neutral);
}

.info__hidden.show {
  display: block;
  right: 0;
}

.info__section__link {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.info__section__link span {
  margin-left: 10px;
  margin-right: auto;
  line-height: 27px;
}

.info__detail-buttons {
  justify-content: flex-start;
}

.info__detail-button {
  width: 120px;
  height: 40px;
}

.info__detail-button:not(:last-child) { margin-right: 20px; }

.info__detail-tab, .course__create-tab {
  width: 100%;
  display: none;
}

.info__detail-tab.active, .course__create-tab.active {
  display: block;
} 

.info__detail-tab .info__label {
  min-width: 175px;
  width: 175px;
}

.info__detail-select {
  width: 65%;
}

.form__input-direction {
  position: relative;
}

.form__input-direction .select__head {
  border-color: #00000010;
  height: 50px;
}

.form__input-direction .select__list {
  border-color: #00000010;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  z-index: 2;
  background-color: var(--white);
}

.info__courses-wrapper {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.course-item {
  width: 32%;
  margin-right: 2%;
  margin-bottom: 25px;
  position: relative;
  overflow: hidden;
}
.course-item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: linear-gradient(360deg, var(--dark-grey) 0%, rgba(51, 51, 51, 0) 100%), linear-gradient(245.75deg, rgba(51, 51, 51, 0) 0%, var(--dark-grey) 100%);
  transition: all 0.3s ease-in-out;
}
.course-item:hover:before {
  background: linear-gradient(360deg, var(--dark-grey) 0%, rgba(51, 51, 51, 0) 100%), linear-gradient(245.75deg, rgba(51, 51, 51, 0) 0%, var(--dark-grey) 100%);
  background-color: var(--dark-grey);
}
.course-item:nth-child(3n) {
  margin-right: 0;
}
.course-item__thumb {
  width: 100%;
  height: 250px;
}
.course-item__thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.course-item__detail {
  position: absolute;
  width: 100%;
  left: 15px;
  bottom: 15px;
  z-index: 2;
}
.course-item__detail .info__line {
  margin: 10px 0;
  border-bottom: 1px solid var(--white);
}
.course-item__title, .course-item__price {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: var(--white);
}
.course-item__link {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}
.course-item__direction {
  color: var(--dark-orange);
}
.course__thumb {
  min-width: 50%;
  width: 50%;
}
.course__right {
  min-width: 45%
}
.course__detail.info__detail-tab.active {
  display: flex;
}
.course__settings-block .form__input-group {
  max-width: 750px;
  width: 100%;
}
.course__settings-block {
  margin-bottom: 0;
}
.form__block-course-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.form__block-course-img img.default {
  width: 70%;
}
.course__detail-results-buttons button {
  width: 100px;
  height: 35px;
}
.course__detail-results-buttons button:not(:last-child) {
  margin-right: 10px;
}
.form__input-professions {
  width: 100%;
  margin-right: 15px;
}
.form__button-professions {
  margin-top: 15px;
}
.course__create-buttons button:not(:last-child) {
  margin-right: 15px;
}
.course__create-tab {
  position: relative;
}
.course__program-update {
  position: absolute;
  right: 0;
  top: 0;
  width: 24px;
  height: 24px;
}
.course__detail-left {
  width: 25%;
  min-width: 300px;
}
.course__detail-right {
  width: 70%;
  padding-left: 30px;
}
#moduleNameInput, #lessonNameInput {
  display: flex;
}
#moduleNameInput.hide, #lessonNameInput.hide {
  display: none;
}
.course__results {
  padding: 0 10px;
  padding-right: 45px;
  height: 350px;
  overflow-y: scroll;
  border: 1px solid #00000010;
  position: relative;
}
.course__results-buttons {
  position: absolute;
  top: 10px;
  right: 10px;
}
.course__results-buttons button:first-child {
  margin-bottom: 10px;
}
.course__results::-webkit-scrollbar { width: 0; }
.course__results-item {
  padding: 5px 5px;
  transition: all 0.3s ease-in-out;
  border-bottom: 1px solid var(--neutral);
}
.course__results-item:not(:last-child) {
  margin-bottom: 3px;
}
.course__results-item:hover {
  cursor:pointer;
  background-color: var(--neutral);
}
.course__results-item.select {
  background-color: var(--neutral);
  color: var(--dark-orange);
}
.delete-module, .delete-lesson {
  display: flex;
  margin-left: 20px;
  margin-right: auto;
}
.delete-module.hide, .delete-lesson.hide {
  display: none;
}
.form__poster {
  width: 100%;
  position: relative;
}
.poster__img-view {
  width: 100%;
  height: 300px;
}
.form__poster .form__avatar {
  top: 32px;
}
.form__video-button {
  position: relative;
}
.form__input-video {
  border: none !important;
  width: 100% !important;
  height: 100% !important;
  opacity: 0;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}
.form__video-preview {
  margin-top: 15px;
}
.video-react .video-react-big-play-button {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%,-50%) !important;
  background-color: var(--dark-grey-light) !important;
  border: none !important;
  border-radius: 0 !important;
}
.video-react .video-react-big-play-button:hover {
  background-color: var(--dark-orange) !important;
}
.course__program-list {
  padding-left: 10px !important;
}
.course__program-list li {
  margin-bottom: 10px;
}
.course__lesson-name {
  margin-bottom: 5px;
}
.course__lesson-description {
  opacity: 0.7;
}
.course__publicated-button {
  margin-top: auto;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: auto;
}
.chat .info__line { margin: 5px 0; }
.chat__body {
  height: 555px;
}
.chat__body-rooms {
  position: relative;
  height: 100%;
  width: 25%;
  min-width: 275px;
}
.chat__body-messages {
  position: relative;
  height: 100%;
  width: 75%;
  padding-left: 25px;
}
.chat__rooms {
  position: relative;
  height: 100%;
  justify-content: space-between;
}
.chat__rooms-bar, .chat__messages-bar { height: 85px; }
.chat__rooms-title, .chat__messages-title {
  padding: 5px 10px;
  height: 35px;
}
.chat__rooms-title h2, .chat__messages-title h2 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.chat__rooms-search .form__input, .chat__messages-search .form__input { height: 40px !important; }
.chat__messages-search .form__input {
  border-right: 0 !important;
  border-left: 0 !important;
}
.chat__rooms-list {
  border: 1px solid #00000010;
  height: 450px;
  width: 100%;
  position: relative;
  padding: 0 0 60px 0;
  box-sizing: border-box;
  overflow-y: scroll;
}
.chat__room-connect {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: var(--neutral);
  z-index: 2;
}
.chat__room-connect span { transition: all 0.3s ease-in-out; }
.chat__room-connect:focus { background-color: var(--neutral); }
.chat__room-connect:hover span {
  color: var(--dark-orange); 
}
.chat__rooms-form {
  padding: 10px;
}
.chat__rooms-form .form__group {
  margin-bottom: 10px;
  width: 100%;
}
.chat__messages {
  position: relative;
  height: 100%;
  border: 1px solid #00000010;
  justify-content: space-between;
}
.chat__messages-input {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--neutral);
}
.chat__messages-input input {
  padding: 0 45px 0 10px !important;
  margin-bottom: 0 !important;
  height: 50px !important;
  border: none !important;
}
.chat__messages-input input:hover, .chat__messages-input input:focus, .chat__messages-input input:active {
  border: none !important;
  box-shadow: none !important;
}
.chat__messages-input button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  z-index: 2;
}
.chat__messages-list {
  height: 450px;
  border-top: 1px solid #00000010;
  overflow-y: scroll;
  padding: 0 0 60px 0;
}
.chat__messages-list::-webkit-scrollbar, .chat__rooms-list::-webkit-scrollbar { width: 0 !important; }
.chat__rooms-item {
  width: 100%;
  padding: 15px 10px;
  border-bottom: 1px solid #00000010;
  transition: all 0.3s ease-in-out;
}
.chat__rooms-item:hover, .chat__rooms-item:focus {
  background-color: var(--neutral);
  border-bottom: 1px solid #00000010;
}
.chat__rooms-item span.teacher { color: var(--orange); }
.chat__rooms-item span.admin { color: var(--dark-orange); }